.App {
  text-align: center;
  margin-top: 50px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

.fade-message {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fade-message.show {
  opacity: 1;
}

.correct {
  color: green;
  font-weight: bold;
}

.incorrect {
  color: red;
  font-weight: bold;
}

.num {
  font-weight: bold;
}

.food {
  font-weight: bold;
  font-style: italic;
}